
html,body, #App{
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
  
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  object-fit: cover;
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}
.div{
  display: block;
}
.flex{
  display: flex;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}
.mt-2 {
  margin-top: 0.6rem;
}
.mb-2{
  margin-bottom: 0.6rem;
}
.title{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.grid{
  display: grid;
}
.grid-flow-row{
  grid-auto-flow: row;
}
.grid-cols-3 {
  grid-template-columns: repeat(10, minmax(0, 2fr));
}
.gap-5 {
  gap: 1.25rem;
}
.cover-play-image {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
  transition-duration: 150ms;
}
.cover-play-image .el-image{
  position:relative;
  top: 50%;
  bottom: 50%;
  min-width: 100%;
  min-height: 100%;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.opacity-0 {
  opacity: 0;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-main {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w-full {
  width: 100%;
}
.w-52 {
  width: 13rem;
}
.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.object-cover {
  object-fit: cover;
}
.gap-y-2\.5 {
  row-gap: 0.625rem;
}
.gap-x-5 {
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
.cursor-pointer {
  cursor: pointer;
}
.w-12 {
  width: 4rem;
}
.h-12 {
  height: 4rem;
}
.h-20 {
  height: 5rem;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.grid-cols-2 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.text-xs {
  font-size: 0.9rem;
  line-height: 1rem;
}
.flex-1 {
  flex: 1 1 0%;
}
.text-dc {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
.mt-1\.5 {
  margin-top: 0.375rem;
}
.flex-col {
  flex-direction: column;
}
.rounded {
  border-radius: 0.25rem;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.search {
  height: 30px;
  position: relative;
  display: flex;
}
.common-layout {
  width: 100%;
  height: 100%;
}
.tac {
  width: 200px;
  height: 100vh;
}
.root-container {
  height: 100vh;
}
.el-header {
  background: #845ec2;
  text-align: center;
  display: flex;
  align-items: center;
}
.search .el-input  {
  text-align: center;
}
.el-main {
  height: 100%;
}
.el-footer {
  background: #ff9671;
  height: 5rem;
}
.el-carousel__item, .el-carousel__item img{
  border-radius: 10px;
}
.el-menu{
  width: 200px;
  
}
.el-menu-item span{
  font-size: 20px;
  
}
.el-menu-item{
  margin-top: 20px;
  vertical-align:middle;
  text-align: center;
}
.eel-menu-item.is-activel-menu{
  text-align: center;
}
.ml-5{
  margin-left: 5px;
}
.mr-5{
  margin-right: 5px;
}
.ml-2 {
  margin-left: 0.5rem;
}

.el-slider {
  --el-slider-main-bg-color: var(--el-color-primary);
  --el-slider-runway-bg-color: var(--el-border-color-light);
  --el-slider-stop-bg-color: var(--el-color-white);
  --el-slider-disable-color: var(--el-text-color-placeholder);
  --el-slider-border-radius: 3px;
  --el-slider-height: 6px;
  --el-slider-button-size: 20px;
  --el-slider-button-wrapper-size: 36px;
  --el-slider-button-wrapper-offset: -15px;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
}
.player-slider .el-slider {
  height: 10px;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.grow {
  flex-grow: 1;
}
.w-11 {
  width: 2.75rem;
}
.h-11 {
  height: 2.75rem;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.px-0\.5 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
.scale-75 {
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.gap-x-3 {
  -moz-column-gap: 0.75rem;
  column-gap: 0.75rem;
}
.cover-play-image .play-count {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  display: flex;
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  align-items: center;
  border-radius: 9999px;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.8;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.mr-1 {
  margin-right: 0.25rem;
}
.lg\:grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}